body {
    text-align: center;
    background-color: #d9d6d734;
}

img {
    object-fit: contain;
    max-height: 250px;
    width: 350px;
}

a {
    text-decoration: none;

}

.questionTitle {
    margin: 6vh 0 0 0;
}


.imgBox {
    height: 300px;
    width: 350px;
    display: flex;
    align-items: center;
}


.barOutline {
    border: 1px solid rgba(0, 0, 0, 0.145);

    .progress {
        background: rgba(30, 146, 229, 0.26);
        transition: width 0.2s ease-in-out;
        color: grey;
    }
}


.flagAndOptions {
    display: flex;
    justify-content: center;
    margin: 0 20vw 0 20vw;
}

.optionsAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
    height: 300px;
}

.correctAnswer {
    margin-bottom: 6vh;
    font-size: 2.5em;
    text-align: center;
    line-height: 0.95em;
    font-weight: bold;
    color: #FFF;
    text-shadow:
        0 0 0.10em #2962FF,
        0 0 0.15em #2962FF,
        0 0 0.80em #2962FF,
        0 0 1.00em #2962FF;

}

.wrong {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    line-height: 0.95em;
    font-weight: bold;
    color: #FFF;
    text-shadow:
        0 0 0.10em #2962FF,
        0 0 0.15em #2962FF,
        0 0 0.80em #2962FF,
        0 0 1.00em #2962FF;
}

.giveCorrectAnswer {
    font-size: 1.5em;
    text-align: center;
    line-height: 0.95em;
    color: #FFF;
    text-shadow:
        0 0 0.10em #2962FF,
        0 0 0.20em #2962FF;
    font-weight: bold;

}

.correctAnswerIs {
    margin-bottom: 5vh;
}


//submit button
.submitButton:disabled {
    color: #aba9a9;
}

.submitButton:disabled:hover {
    box-shadow: none;
    cursor: default;
}

@media (max-width:599px) {
    .questionTitle {
        margin: 3vh 0 2vh 0;
    }


    img {
        max-height: 120px;
    }

    .imgBox {
        height: 130px;
    }

    .optionsAndButton {
        justify-content: space-evenly;
        margin: 2vh 0 0 0;
        height: fit-content;
    }

    .flagAndOptions {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vh;
    }

    .wrong {
        margin: 20px 0 20px;
        font-size: 1.5rem;

    }

    .correctAnswer {
        margin: 3vh 0 6vh 0;
        font-size: 2rem
    }

    .correctAnswerIs {
        margin-bottom: 1vh;
    }


}